@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #fef6e4;
    color: #001858;
    font-family: 'Courier Prime', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid #f3d2c1;
}

button {
    font-family: 'Courier Prime', monospace;
    background-color: #f3d2c1;
    border: solid 1px #001858;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 12px;
}

main {
    flex: 1;
    padding: 10px 20px;
}

h2 {
    border-bottom: 1px solid #f3d2c1;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0 0 20px;
}

h3 {
    background-color: #ffffff;
    border-bottom: 1px solid #f3d2c1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 20px 0 0;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}